* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background: #2f2e41;
}

main {
  width: 100%;
  max-width: 1080px;
  justify-self: center;

  margin: 0 auto;
}
